<section class="section-padding bg-light-white booking-form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tabs">
                    <div ngbNav #nav="ngbNav" class="custom-flex ">
                       
                        <!-- <li [ngbNavItem]="1">
                            <a ngbNavLink>Flights Booking</a>
                            <ng-template ngbNavContent> -->
                                <app-flight-booking></app-flight-booking>
                            <!-- </ng-template>
                        </li>
                        -->
                    </div>
                    <!-- <div [ngbNavOutlet]="nav" class="bg-custom-white bx-wrapper padding-20"></div> -->
                </div>
            </div>
        </div>
    </div>
</section>