
<div class="row">

</div>

<div class="row">
    <div class="col-lg-8 pr-3">
        <div class="sin-in">
            <span class="text-head-1">Already an Almosafer member?</span>
            <div><a class="text-sign-in">Sign in </a> now and speed up your booking!</div>
        </div>

        <form>
            <div class="card-tra-det">
                <h5>Enter traveller details</h5>
                <div class="card-body">
                    <div class="" style="padding: 0px 20px;">
                        <div class="warings">
                            <i></i>
                            <p class="p-text">This airline does not require your passport details to confirm this booking.
                                 You will only need your passport details once you check-in.</p>
                        </div>
                      
                        <div class="warings mt-2">
                    
                        <i></i>
                        <p class="p-text-2">Enter your details as they appear on your passport. Use English only.</p>
                        </div>
                    </div>

                    <!----Adult 1-->
                    <div class="adult-1 mt-3 mb-3">
                        <span style="font-size: 16px;
                        font-weight: bold;
                        color: rgb(58, 58, 58);">Adult 1</span>
                    </div>

                    <div class="frm-1 d-flex">
                        <div class="col-5">
                            <label class="lable-1">First name</label>
                            <div class="d-flex">
                                <div style="flex: 2.6 1 0%;">
                                    <div class="box-1-fname"></div>
                                    <select class="select-fn"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 0px 5px;">
                            <label class="lable-1">Middle name (Optional)</label>
                            <input value="" name="" class="select-fn">
                        </div>
                        <div class="col-4">
                            <label class="lable-1">Last name</label>
                            <input value="" name="" class="select-fn">
                        </div>
                    </div>
                    <!----Adult 1-->

                    <div class="mb-2">
                        <div class="card-2">
                            <i></i>
                            <span>Baggage info / Add baggage</span>
                        </div>
                    </div>

                    <div class="mt-3">
                        <div class="dept mb-4">
                            <div><i style="margin-right: 8px;" class="fa fa-fighter-jet"></i>
                                Departure, <span style="font-weight: bold;">Lisbon </span>
                                <i style="margin-right: 8px;" class="fa fa-long-arrow-right"></i>
                                Arrival <span style="font-weight: bold;"> Paris</span>
                            </div>
                        </div>

                    

                        <div class="cabin-card-main mt-3">

                            <div class="cabin-card">
                                <div class="cabin_baggage">
                                    <span class="cabin-text">Cabin baggage</span>
                                    <span>7 KG (max 1 Bag)</span>
                                </div>
                                <div class="cabin_baggage">
                                    <span class="cabin-text">Checked baggage</span>
                                    <span>NOT INCLUDED</span>
                                </div>
                            </div>

                            <div class="add-extra-baggage">
                                <span>Add extra baggage</span>
                            </div>
                        </div>
                    </div>


               

                </div>
            </div>

            <div></div>
        </form>
    </div>
    <!---------------right------------>
    <div class="col-lg-4">

        <div style="position: sticky; top: 35px;">

            <div class="border-rgt">
                <div class="heading-right-1 d-flex justify-content-between p-3">
                    <span style="    font-size: 20px;
                    font-weight: 600;
                    color: rgb(58, 58, 58);">Flight summary</span>
                    <a class="flight-detl-rgt mt-2">Flight details</a>
                </div>

                
                    <div class="search-result-leg-card">
                        <div class="row">
                            <div class="col-2">
                                <div class="img-box">
                                    <img class="img-fr"
                                        src="">
                                </div>

                            </div>
                            <div class="col-2">
                                <div class="box2" style="font-size: 13px;"> 05:25PM
                                    
                                   <!-- <p class="mb-0 mt-0"
                                        style="font-size: 10px;">
                                        Dep_date</p>-->
                                </div>
                                <div
                                    class="sc-jkCMRl kLfzQC tj-tooltip__wrapper sc-rBLzX gpttxZ">
                                    <div class="tj-tooltip__children sc-TFwJa cFsBnr">
                                        <div class="box-4-time"
                                            style="background-color: coral;">
                                            <span>BVA</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="box3">

                                    <p class="stop">
                                        Direct
                                    </p>

                                </div>
                                <i class="fas fa-fighter-jet flights-icon"></i>
                                <div class="box3-line"></div>
                                <div class="box-last">
                                    <div>
                                        <div>
                                            <div>
                                                
                                                <p class="stop">
                                                    <i class="fa fa-clock" style="font-size: 14px;"></i>    02h 35m

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="box2" style="font-size: 13px;">
                                    09:00PM
                                    <!--<p class="mb-0 mt-0" style="font-size: 10px;">
                                        Dep_date</p>-->
                                </div>
                                <div class="">
                                    <div class="box-4-time">
                                        <span>LIS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="">
                        <div class="search-result-leg-card"
                            style="border-top: 1px solid rgb(223, 223, 223);">
                            <div class="row">
                                <div class="col-3">
                                    <div class="img-box">
                                        <img class="img-fr"
                                            src="">

                                    </div>

                                </div>
                                <div class="col-2">
                                    <div class="box2"> dep_time2<p
                                            class="mb-0 mt-0" style="font-size: 8px;">
                                            return_date</p>
                                    </div>
                                    <div
                                        class="sc-jkCMRl kLfzQC tj-tooltip__wrapper sc-rBLzX gpttxZ">
                                        <div class="tj-tooltip__children sc-TFwJa cFsBnr">
                                            <div class="box-4-time"
                                                style="background-color: coral;">
                                                <span>dep_code2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="box3">

                                        <p class="stop">
                                            <svg focusable="false" *ngIf=""
                                                color="inherit" fill="currentcolor"
                                                aria-hidden="true" role="presentation"
                                                viewBox="0 0 24 24"
                                                preserveAspectRatio="xMidYMid meet"
                                                size="24" width="24" height="24"
                                                class="sc-hMqMXs jozQQJ">
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <g>
                                                            <g>
                                                                <g
                                                                    transform="translate(-803 -379) translate(430 330) translate(274 27) translate(99 22)">
                                                                    <path d="M0 0H24V24H0z">
                                                                    </path>
                                                                    <path fill="#B0B0B0"
                                                                        d="M1.234 9.484H4.86V7.968c0-.534.412-.968.918-.968h2.449c.506 0 .918.434.918.968v1.516h3.629c.672 0 1.225.579 1.225 1.292v7.258c0 .704-.543 1.28-1.212 1.291-.032.447-.39.8-.824.8-.434 0-.792-.354-.824-.8H2.86c-.032.447-.39.8-.824.8-.434 0-.792-.354-.824-.8C.547 19.317 0 18.74 0 18.034v-7.258c0-.71.55-1.292 1.226-1.292h.007zm4.454.14h2.625V8.516c0-.355-.255-.641-.563-.641H6.25c-.31 0-.561.29-.561.641v1.109z">
                                                                    </path>
                                                                    <circle cx="17.057"
                                                                        *ngIf=""
                                                                        cy="10.629" r="6.6"
                                                                        fill="#1DAC08"
                                                                        stroke="#FFF"
                                                                        stroke-width=".8">
                                                                    </circle>
                                                                
                                                                    <path fill="#FFF"
                                                                        *ngIf=""
                                                                        fill-rule="nonzero"
                                                                        d="M16.708 13.4c-.34.34-.892.34-1.232 0l-1.908-1.909c-.34-.34-.34-.891 0-1.231.34-.34.891-.34 1.231 0l1.137 1.137c.086.085.225.085.311 0l3.079-3.079c.34-.34.892-.34 1.232 0 .163.163.255.385.255.616 0 .23-.092.452-.255.616l-3.85 3.85z">
                                                                    </path>
                                                                   
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                            <svg focusable="false" *ngIf=""
                                                color="inherit" fill="currentcolor"
                                                aria-hidden="true" role="presentation"
                                                viewBox="0 0 24 24"
                                                preserveAspectRatio="xMidYMid meet"
                                                size="24" width="24" height="24"
                                                class="sc-hMqMXs jozQQJ">
                                                <g fill="none" fill-rule="evenodd">
                                                    <g>
                                                        <g>
                                                            <g
                                                                transform="translate(-801 -621) translate(702 599) translate(99 22)">
                                                                <path d="M0 0H24V24H0z">
                                                                </path>
                                                                <path fill="#B0B0B0"
                                                                    d="M1.234 9.484H4.86V7.968c0-.534.412-.968.918-.968h2.449c.506 0 .918.434.918.968v1.516h3.629c.672 0 1.225.579 1.225 1.292v7.258c0 .704-.543 1.28-1.212 1.291-.032.447-.39.8-.824.8-.434 0-.792-.354-.824-.8H2.86c-.032.447-.39.8-.824.8-.434 0-.792-.354-.824-.8C.547 19.317 0 18.74 0 18.034v-7.258c0-.71.55-1.292 1.226-1.292h.007zm4.454.14h2.625V8.516c0-.355-.255-.641-.563-.641H6.25c-.31 0-.561.29-.561.641v1.109z">
                                                                </path>
                                                                <circle cx="17.057"
                                                                    cy="10.629" r="6.6"
                                                                    fill="#ac3408"
                                                                    stroke="#FFF"
                                                                    stroke-width=".8">
                                                                </circle>
                                                                <path fill="#FFF"
                                                                    fill-rule="nonzero"
                                                                    stroke="#FFF"
                                                                    stroke-width=".7"
                                                                    d="M14.162 8.038c.216-.216.566-.216.782 0h0l2.092 2.093 2.092-2.093c.216-.216.566-.216.782 0 .216.216.216.566 0 .782l-2.093 2.092 2.093 2.092c.192.192.213.49.064.705l-.064.077c-.216.216-.566.216-.782 0h0l-2.092-2.093-2.092 2.093c-.216.216-.566.216-.782 0-.216-.216-.216-.566 0-.782l2.093-2.092-2.093-2.092c-.192-.192-.213-.49-.064-.705z">
                                                                </path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                            baggage

                                        </p>

                                    </div>
                                    <i class="fas fa-fighter-jet flights-icon2"></i>
                                    <div class="box3-line"></div>
                                    <div class="box-last">
                                        <div>
                                            <div>
                                                <div>
                                                   
                                                    <p class="stop">
                                                        <svg focusable="false"
                                                            color="gray400"
                                                            fill="currentcolor"
                                                            aria-hidden="true"
                                                            role="presentation"
                                                            viewBox="0 0 18 18"
                                                            preserveAspectRatio="xMidYMid meet"
                                                            size="16" width="16" height="16"
                                                            class="sc-hMqMXs hEotJY">
                                                            <g fill="none"
                                                                fill-rule="evenodd">
                                                                <path fill="currentColor"
                                                                    fill-rule="nonzero"
                                                                    d="M9 0C4.04 0 0 4.04 0 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9z">
                                                                </path>
                                                                <path fill="#EAEAEA"
                                                                    stroke="#F3F3F3"
                                                                    d="M11.954 12.845a.435.435 0 0 1-.624.042l-3.184-2.83A.414.414 0 0 1 8 9.724V5.437A.44.44 0 0 1 8.437 5a.44.44 0 0 1 .437.437v4.079l3.038 2.684a.46.46 0 0 1 .042.645z">
                                                                </path>
                                                            </g>
                                                        </svg>
                                                        02h 35m

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="box2">
                                        arr_time2
                                        <p class="mb-0 mt-0" style="font-size: 8px;">
                                            arr_return</p>


                                    </div>
                                    <div class="">
                                        <div class="box-4-time">
                                            <span>arr_code2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                





            </div>
        </div>

        <div>
            <button style="color: white;
            background: rgb(239, 64, 80);
            border: none;padding-top: 15px;
    padding-bottom: 15px;cursor: pointer;">
                <span>Continue to final details</span>
            </button>
            
        </div>

    </div>
</div>




<!--

<div class="tab-inner">

    <div class="row">
        <div class="col-lg-8">
            <form class="mb-md-80" [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
                <div class="row" *ngIf="this.flightSearchReqData?.adults">
                    <div class="col-12">
                        <h5 class="text-custom-black">

                            Adults
                        </h5>
                        <ng-container formArrayName="adults">
                            <ng-container *ngFor="let adultForm of adults.controls; let i = index">
                                <h6 class="card-title mb-0">Adult {{i+1}} <br></h6>
                                <div class="row shadow-sm rounded pt-4 mb-4" [formGroupName]="i"
                                    style="position: relative;">
                                   
                                 
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500"> Title
                                            </label>
                                            <div class="group-form">
                                                <select name="class" id="title" name="title"
                                                    formControlName="title"
                                                    class="custom-select form-control form-control-custom" nice-select>
                                                    <option value="" disabled >Title</option>
                                                    <option value="Mr">Mr</option>
                                                    <option value="Mrs">Mrs</option>
                                                    <option value="Miss">Miss</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500"> First
                                                Name</label>
                                            <input type="text" formControlName="firstname"
                                                class="form-control form-control-custom" placeholder="First Name"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500">Last Name</label>
                                            <input type="text" formControlName="lastname"
                                                class="form-control form-control-custom" placeholder="Last Name"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500">DOB</label>
                                            <input type="date" formControlName="dob"
                                                class="form-control form-control-custom" placeholder="DOB" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500">Passport</label>
                                            <input type="text" formControlName="passport"
                                                class="form-control form-control-custom" placeholder="passport"
                                                required>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>

                <div class="row" *ngIf="this.flightSearchReqData?.child">
                    <div class="col-12">
                        <h5 class="text-custom-black">

                            Childs
                        </h5>
                        <ng-container formArrayName="childs">
                            <ng-container *ngFor="let childForm of childs.controls; let i = index"> <h6 class="card-title mb-0">Child {{i+1}}.</h6>
                                <div class="row shadow-sm rounded pt-4 mb-4" [formGroupName]="i"
                                    style="position: relative;">

                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500"> Title
                                            </label>
                                            <div class="group-form">
                                                <select name="class" id="title" name="title"
                                                    formControlName="title"
                                                    class="custom-select form-control form-control-custom" nice-select>
                                                    <option value="" disabled >Title</option>
                                                    <option value="Mr">Mr</option>
                                                    <option value="Mrs">Mrs</option>
                                                    <option value="Miss">Miss</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500">First
                                                Name</label>
                                            <input type="text" formControlName="firstname"
                                                class="form-control form-control-custom" placeholder="First Name"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500">Last Name</label>
                                            <input type="text" formControlName="lastname"
                                                class="form-control form-control-custom" placeholder="Last Name"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500">DOB</label>
                                            <input type="date" formControlName="dob"
                                                class="form-control form-control-custom" placeholder="DOB" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500">Passport</label>
                                            <input type="text" formControlName="passport"
                                                class="form-control form-control-custom" placeholder="passport"
                                                required>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>

                <div class="row" *ngIf="this.flightSearchReqData?.infants">
                    <div class="col-12">
                        <h5 class="text-custom-black">

                            Infants
                        </h5>
                        <ng-container formArrayName="infants">
                            <ng-container *ngFor="let infantForm of infants.controls; let i = index">
                                <h6 class="card-title mb-0">Infant {{i+1}}.</h6>
                                <div class="row shadow-sm rounded pt-4 mb-4" [formGroupName]="i"
                                    style="position: relative;">

                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500"> Title
                                            </label>
                                            <div class="group-form">
                                                <select name="class" id="title" name="title"
                                                    formControlName="title"
                                                    class="custom-select form-control form-control-custom" nice-select>
                                                    <option value="" disabled >Title</option>
                                                    <option value="Mr">Mr</option>
                                                    <option value="Mrs">Mrs</option>
                                                    <option value="Miss">Miss</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500"> First
                                                Name</label>
                                            <input type="text" formControlName="firstname"
                                                class="form-control form-control-custom" placeholder="First Name"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500">Last Name</label>
                                            <input type="text" formControlName="lastname"
                                                class="form-control form-control-custom" placeholder="Last Name"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500">DOB</label>
                                            <input type="date" formControlName="dob"
                                                class="form-control form-control-custom" placeholder="DOB" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="fs-14 text-custom-black fw-500">Passport</label>
                                            <input type="text" formControlName="passport"
                                                class="form-control form-control-custom" placeholder="passport"
                                                required>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>

                <div class="col-12">
                    <label class="custom-checkbox mb-0">
                        <input type="checkbox" name="#">
                        <span class="checkmark"></span>
                        Accepted terms and conditions
                    </label>
                </div>
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn-first btn-submit" [disabled]="!bookingForm.valid">Confirm</button>
                </div>
            </form>
        </div>
        <div class="col-lg-4">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="flights-grid">
                        <div class="flights-grid-wrapper bx-wrapper">
                            <div class="flights-grid-caption bg-custom-white p-relative">
                                <div class="card mb-2">
                                    <div class="card-header">
                                        <h6 class="card-tilte mb-1"> FARE DETAIL:</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="heading-sec row">
                                            <div class="col-md-6 border-bottom"> Base Price</div>
                                            <div class="col-md-6  border-bottom"> £366.00</div>
                                            <div class="col-md-6  border-bottom"> Taxes </div>
                                            <div class="col-md-6  border-bottom"> £68.00</div>
                                            <div class="col-md-6  border-bottom"> Flight Booking Charges </div>
                                            <div class="col-md-6  border-bottom"> £5.00</div>

                                        </div>
                                        <div class="card-footer row p-0 pt-1 pb-2">
                                            <div class="col-md-6"> Total Price: </div>
                                            <div class="col-md-6" > £439.00</div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="bookFlightItem">
                    <div class="flights-grid mb-xl-30">
                        <div class="flights-grid-wrapper bx-wrapper">
                            <div class="flights-grid-caption padding-20 bg-custom-white p-relative">
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="heading-sec row">
                                            <div class="left-side col-lg-6 col-6">

                                                <img src="{{defaultImageAddress}}{{bookFlightItem.airline}}{{formatImage}}"
                                                    style="object-fit: fill;">
                                            </div>
                                            <div class="right-side  col-lg-6 col-6 pr-3">
                                                <span class="price" style="margin-top: 0%; top: 0px!important;"><small
                                                        style="font-size: 15px;">Price</small><span
                                                        style="font-size: 30px;">{{bookFlightItem.price}}</span></span>
                                            </div>

                                            <div class="col-lg-12 col-sm-12 d-flex justify-content-center mt-2 pt-2">
                                                <div>
                                                    <span class="time_value"> {{bookFlightItem.dep_time}}</span>
                                                    <p class="arr_des"> {{bookFlightItem.dep_code}}</p>
                                                </div>
                                                <div class="mid-gap ">
                                                    <p class="stop">Stops-{{bookFlightItem.stop}}&nbsp;
                                                    </p>


                                                    <div class="d-flex mt-0 pt-0 mb-0 pb-0">
                                                        <span>-------------<i
                                                                class="fas fa-plane text-gray"></i>-------------</span>
                                                    </div>
                                                    <p class="stop"> {{bookFlightItem.baggage?bookFlightItem.baggage:0}}
                                                        Baggage</p>

                                                    <p class="stop">Duration-{{bookFlightItem.totall_time}}</p>
                                                </div>
                                                <div>
                                                    <span class="time_value"> {{bookFlightItem.arr_time}}</span>
                                                    <p class="arr_des"> {{bookFlightItem.arr_code}}</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-sm-12 d-flex justify-content-center mt-2 pt-2 border-top"
                                                *ngIf="bookFlightItem.flight_id_rt || bookFlightItem.return_date">
                                                <div>
                                                    <span class="time_value"> {{bookFlightItem.dep_time2}}</span>
                                                    <p class="arr_des"> {{bookFlightItem.dep_code2}}</p>
                                                </div>
                                                <div class="mid-gap ">
                                                    <p class="stop">Stops-{{bookFlightItem.stop2}}&nbsp;
                                                    </p>
                                                    <div class="d-flex mt-0 pt-0 mb-0 pb-0">
                                                        <span>-------------<i class="fas fa-plane text-gray"
                                                                style="transform: rotate(180deg);"></i>-------------</span>
                                                    </div>
                                                    <p class="stop">
                                                        {{bookFlightItem.baggage2?bookFlightItem.baggage2:0}}
                                                        Baggage</p>

                                                    <p class="stop">Duration-{{bookFlightItem.totall_time2}}</p>
                                                </div>
                                                <div>
                                                    <span class="time_value"> {{bookFlightItem.arr_time2}}</span>
                                                    <p class="arr_des"> {{bookFlightItem.arr_code2}}</p>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->